@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Old+Standard+TT:wght@700&family=Oxygen+Mono&display=swap');@import 'tailwindcss';

.oxygen-mono-regular {
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.major-mono-display-regular {
    font-family: "Major Mono Display", "Old Standard TT", monospace;
    font-weight: 400;
    font-style: normal;
}

@theme {
  --font-mono: "Oxygen Mono", "monospace";

  --color-text: #0e0c12;
  --color-text-dark: #efedf3;
  --color-background: #f9f7fd;
  --color-background-dark: #040208;
  --color-primary: #2c037c;
  --color-primary-dark: #aa82fc;
  --color-secondary: #f36ca5;
  --color-secondary-dark: #950b44;
  --color-accent: #3fa643;
  --color-accent-dark: #5ac05e;
}

@media (prefers-color-scheme: dark) {
    .stripe-background {
        background: repeating-linear-gradient(in oklab 315deg, theme(--color-background-dark), theme(--color-background-dark), theme(--color-secondary-dark) 20px);
    }
    
    .stripe-background-accent {
        background: repeating-linear-gradient(in oklab 45deg, theme(--color-background-dark), theme(--color-background-dark), theme(--color-accent-dark) 10px);
    }

    .text-color-filter {
        filter: brightness(0) saturate(100%) invert(83%) sepia(82%) saturate(12%) hue-rotate(205deg) brightness(101%) contrast(92%);
    }
}

@media (prefers-color-scheme: light) {
    .stripe-background {
        background: repeating-linear-gradient(in oklab 315deg, theme(--color-background), theme(--color-background), theme(--color-secondary) 20px);
    }
    
    .stripe-background-accent {
        background: repeating-linear-gradient(in oklab 45deg, theme(--color-background), theme(--color-background), theme(--color-accent) 10px);
    }

    .text-color-filter {
        filter: brightness(0) saturate(100%) invert(3%) sepia(21%) saturate(939%) hue-rotate(219deg) brightness(108%) contrast(97%);
    }
}
